<%= render "navbar" %>

<table style="width: 100%; border-collapse: collapse; text-align: center;">
  <thead style="background-color: #f8f9fa;">
    <tr>
      <th style="padding: 10px; border-bottom: 1px solid #dee2e6;">Id</th>
      <th style="padding: 10px; border-bottom: 1px solid #dee2e6;">Name</th>
      <th style="padding: px; border-bottom: 1px solid #dee2e6;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td style="padding: 10px; border-bottom: 1px solid #dee2e6;"><%= plan.id %></td>
        <td style="padding: 10px; border-bottom: 1px solid #dee2e6;"><%= plan.name %></td>
        
        <td style="padding: 10px; border-bottom: 1px solid #dee2e6;">
          <%= link_to 'Show', plan, class: 'button' %>
          <%= link_to 'Edit', edit_plan_path(plan), class: 'button' %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "New plan", new_plan_path, class: 'button', style: 'margin: 10px 20px;' %>

<style>
.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #8E44AD;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 14px; 
  font-weight: bold; 
}

.button:hover {
  background-color: black;
}
</style>


